
#questionText {
    font-size: 3.43vw;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 700;
    position: absolute;
    top: 40%;
    left: 40%;
    color: white;
}

#answerInput {
    font-size: 2.05vw;
    font-family: 'Courier New', Courier, monospace;
    position: absolute;
    top: 55%;
    left: 35%;
    text-align: center;
    border-color: white;
    background-color: rgb(40, 40, 40);
    color: white;
    border-radius: 10px;
}

#addCheckbox {
    font-family:'Courier New', Courier, monospace;
    position: absolute;
    top: 22%;
    left: 35%;
    width: 1vw;
    height: 1vw;
    color: white;
}

#addCheckboxLabel {
    font-size: 1.37vw;
    font-family:'Courier New', Courier, monospace;
    position: absolute;
    top: 21.8%;
    left: 35%;
    margin-left: 25px;
    color: white;
}

#subtractCheckbox {
    font-family:'Courier New', Courier, monospace;
    position: absolute;
    top: 26%;
    left: 35%;
    width: 1vw;
    height: 1vw;
    color: white;
}

#subtractCheckboxLabel {
    font-size: 1.37vw;
    font-family:'Courier New', Courier, monospace;
    position: absolute;
    top: 25.8%;
    left: 35%;
    margin-left: 25px;
    color: white;
}

#multiplicationCheckbox {
    font-family:'Courier New', Courier, monospace;
    position: absolute;
    top: 22%;
    left: 60%;
    width: 1vw;
    height: 1vw;
    color: white;
}

#multiplicationCheckboxLabel {
    font-size: 1.37vw;
    font-family:'Courier New', Courier, monospace;
    position: absolute;
    top: 21.8%;
    left: 60%;
    margin-left: 25px;
    color: white;
}

#divisionCheckbox {
    font-family:'Courier New', Courier, monospace;
    position: absolute;
    top: 26%;
    left: 60%;
    color: white;
    width: 1vw;
    height: 1vw;
}

#divisionCheckboxLabel {
    font-size: 1.37vw;
    font-family:'Courier New', Courier, monospace;
    position: absolute;
    top: 25.8%;
    left: 60%;
    margin-left: 25px;
    color: white;
}

#decimalNote {
    font-size: 1.02vw;
    font-family:'Courier New', Courier, monospace;
    position: absolute;
    top: 90%;
    left: 30%;
    color: white;
}

#difficultySelection {
    font-size: 1.37vw;
    font-family:'Courier New', Courier, monospace;
    position: absolute;
    top: 10%;
    left: 46%;
    color: white;
    font-weight: 600;
    background-color: rgb(40, 40, 40);
    border-radius: 10px;
}



body {
    background-color: black;
}
